/* 头部导航 */
header{overflow: hidden;}
header>.contener{position: relative;}
header>.contener>.clkNav{width:450px;height:75px;position: absolute;top: 0;left: 175px;display: flex;z-index: 999;}
header>.contener>.clkNav>li{width: 25%;font-size: 20px;font-weight: 100;background-color: white;line-height: 90px;display: none;cursor: pointer;}
header>.contener>.clkNav>li:hover{display: block;color: red;}
/* 中间上面 */
#app>.contener>.top{height: 170px;text-align: center;position: relative;}
#app>.contener>.top>h1{font-size: 40px;line-height:40px;padding-top: 50px;}
#app>.contener>.top>.nav{display: flex;position: absolute;bottom: 0;left:50%;transform: translateX(-50%);}
#app>.contener>.top>.nav>li{height: 35px;font-size: 16px;}
#app>.contener>.top>.nav>li>a{color: #999;display: block;height: 100%;width: 100%;padding: 0 25px;}
#app>.contener>.top>.nav>li>.active{color: rgb(255, 87, 50);border-bottom: 5px solid rgb(255, 87, 50);} 
/* 中间下面 --最新--最热*/
#app>.bottom{background-color: #eee;}
#app>.bottom>.contener>#mostNew{padding-top:1px;display: flex;flex-wrap: wrap;justify-content: space-between;}
#app>.bottom>.contener>#mostNew>div{width: 220px;height: 240px;margin-top: 25px;border-radius: 4px;background: url(../img/img/listbg.jpg) no-repeat center bottom;cursor: pointer;position: relative;}
#app>.bottom>.contener>#mostNew>div>.mntopimg{border:1px solid #ccc;border-bottom: none;height: 130px;position: relative;border-radius: 4px 4px 0 0;overflow: hidden;}
#app>.bottom>.contener>#mostNew>div>.mntopimg>img{max-width: none;height: 100%;position: absolute;top: 0px;left: 50%;transform: translateX(-50%);}
#app>.bottom>.contener>#mostNew>div>.bottom{background-color: white;padding: 12px 10px;}
#app>.bottom>.contener>#mostNew>div>.bottom>.title{font-size: 14px;line-height: 17px;margin-bottom:10px;word-wrap: break-word;}
#app>.bottom>.contener>#mostNew>div>.bottom>.priceFollow{margin-top: 25px;font-size: 12px;line-height: 12px;}
#app>.bottom>.contener>#mostNew>div>.bottom>.priceFollow>div{text-align: right;}
#app>.bottom>.contener>#mostNew>div>.bottom>.priceFollow>div>span{display: inline-block;background: url(../img/img/xin.png) no-repeat;text-indent: 15px;margin-left: 5px;color: #999;}
#app>.bottom>.contener>#mostNew>.more{width:100%;background-color:transparent;border: none;height: auto;margin: 54px 0;text-align: center;background-image: none;}
#app>.bottom>.contener>#mostNew>.more>a{display:inline-block;color:rgb(255, 87, 50);font-size: 16px;padding-left: 22px;background:url(../img/img/more.png) no-repeat 0 center;}

/* 动画 */
@keyframes bgwt{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#app>.bottom>.contener>#mostNew>div:hover .ShoppingAnimt{animation: bgwt 1s linear alternate infinite;position: absolute;left: 0;top:0;width: 100%;height:100%;background: radial-gradient(white,transparent);}

header>.contener>.clkLogin{position: absolute;width: 50px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    top:21px;right: 0;
    background-color: white;
    cursor: pointer;
}
header>.contener>.loginret{border: 1px solid red;color: red;}
header>.contener>.logingray{border: 1px solid #999;color: #999;}

footer>.contener{position: relative;}
footer>.contener>.clkgratis{position: absolute;right: 112px;top: 44px;width: 80px;height: 20px;z-index: 999;cursor: pointer;}