<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/headW&&footerW.css">
    <link rel="stylesheet" href="./css/shopping.css">
</head>

<body>
    <div id="box">
        <header>
            <div class="contener">
                <iframe id="iframe_id" src="./head/headShopping.html" frameborder="0"
                    class="header-content contener"></iframe>
                <ul class="clkNav">
                    <li>首页</li>
                    <li>酷玩</li>
                    <li>导购</li>
                    <li>试用</li>
                    <li>报告</li>
                </ul><div class="clkLogin"></div>
            </div>
        </header>
        <div id="app">
            <div class="contener">
                <div class="top">
                    <h1>导购清单</h1>
                    <ul class="nav">
                        <li v-for='val,index in dat'>
                            <router-link v-if='index==0' class="active" :to="{path:'/'+val.name}">{{val.title}}
                            </router-link>
                            <router-link v-else :to="{path:'/'+val.name}">{{val.title}}</router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <div class="contener">
                    <router-view></router-view>
                </div>
            </div>
        </div>
        <footer>
            <div class="contener">
                <iframe src="footer.html" frameborder="0" class="footer-content contener"></iframe>
                <div class="clkgratis"></div>
            </div>
        </footer>
    </div>
    <template id="showCnt">
        <div id="mostNew">
            <div v-for='itm in data'>
                <div class="mntopimg"><img :src="itm.url" alt=""></div>
                <div class="bottom">
                    <p class="title">{{itm.title}}</p>
                    <div class="priceFollow">
                        <div><span>{{itm.follow}}</span><span>{{itm.message}}</span></div>
                    </div>
                </div>
                <div class="ShoppingAnimt"></div>
            </div>
            <div v-for='it,index in data' v-if="index<4" hidden>
                <div class="mntopimg"><img :src="it.url" alt=""></div>
                <div class="bottom">
                    <p class="title">{{it.title}}</p>
                    <div class="priceFollow">
                        <div><span>{{it.follow}}</span><span>{{it.message}}</span></div>
                    </div>
                </div>
                <div class="ShoppingAnimt"></div>
            </div>
            <div class="more"><a href="javascript:void(0);" class="more_child">点击加载更多</a></div>
        </div>
    </template>
</body>

<script src="./js/vue.js"></script>
<script src="./js/vue-router.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/publicMethods.js"></script>
<script src="./js/shopping.js"></script>

</html>